# Python MySQL Database Connection using MySQL Connector

## Learning Agenda of this Notebook
- How to connect MySQL database in Python
 >- Arguments required to connect
- Create MySQL table from Python
- Python MySQL CRUD Operations

## In Python, We can use the following modules to communicate with MySQL.

- MySQL Connector Python
- PyMySQL
- MySQLDB
- MySqlClient
- OurSQL


In this lecture, our focuse on the MySQL Connector Python module. All examples are created using MySQL Connector Python.

#### Advantages and benefits of MySQL Connector Python: –

- MySQL Connector Python is written in pure Python, and it is self-sufficient to execute database queries through Python.
- It is an official Oracle-supported driver to work with MySQL and Python.
- It is Python 3 compatible, actively maintained.

## How to Connect to MySQL Database in Python

- Step 1: Install MySQL connector module
 >- pip install mysql-connector-python

- Step 2: Import MySQL connector module
 >- Import using a `import mysql.connector` statement so you can use this module’s methods to communicate with the MySQL database.

- Step 3: Use the connect() method
 >- Use the `connect()` method of the MySQL Connector class with the required arguments to connect MySQL. It would return a `MySQLConnection` object if the connection established successfully.
 
- Step 4: Use the cursor() method
 >- Use the `cursor()` method of a MySQLConnection object to create a cursor object to perform various SQL operations.

- Step 5: Use the execute() method
 >- The `execute()` methods run the SQL query and return the result.

- Step 6: Extract result using fetchall()
 >- Use `cursor.fetchall()` or `fetchone()` or `fetchmany()` to read query result.
 
- Step 7: Close cursor and connection objects
 >- use `cursor.clsoe()` and `connection.clsoe()` method to close open connections after your work completes.

### Arguments required to connect
You need to know the following detail of the MySQL server to perform the connection from Python.

- Username : The username that you use to work with MySQL Server. The default username for the MySQL database is a `root`.
- Password : Password is given by the user at the time of installing the MySQL server. If you are using root then you won’t need the password.
- Host name	: The server name or Ip address on which MySQL is running. if you are running on localhost, then you can use localhost or its IP 127.0.0.0
- Database name	: The name of the database to which you want to connect and perform the operations.

## Example to connect to MySQL Database in Python
![](images/pythonMysql)


### Points to remember

- Catch exceptions that may occur during this process by importing the Error class from the MySQL connector module using a `from mysql.connector import Error` statement. Error class is useful to debug when we failed to connect to MySQL. For example, ACCESS DENIED ERROR when the username or password is wrong.
- The `connect()` method can throw a `Database error` exception if one of the required parameters is wrong. For example, if you provide a database name that is not present in MySQL.
- The `is_connected()` is the method of the `MySQLConnection` class through which we can verify is our Python application connected to MySQL.
- At last, we are closing the MySQL database connection using a `close()` method of MySQLConnection class.

In [2]:
# first step import mysql.connector
from mysql.connector import connect, Error
try:
# second step create connection object
    connection = connect(user='root', host='localhost', database='Electronics', password='Pucit12345#')
    if connection.is_connected():
        db_Info = connection.get_server_info()
        print("Connected to MySQL Server Version : ", db_Info)
#         third step create cursor object
        cursor = connection.cursor()
#     fourth step call execute function of cursor object to execute mysql queries
        cursor.execute("select database();")
        record = cursor.fetchone()
#         fifth step call the fetch functions of cursor object to display/ show records 
        print("Your are connected to database: ", record)
except Error as e:
    print("Error while connection to MySQL is ", e)
finally:
    if connection.is_connected():
#         close all the connections 
        cursor.close()
        connection.close()
        print("MySQL Connection is closed!")

Connected to MySQL Server Version :  8.0.29
Your are connected to database:  ('Electronics',)
MySQL Connection is closed!

## Create MySQL table from Python
- Now we know how to connect to a MySQL server from Python.
- Let’s create table `Laptop` under the `Electronics` database.
<img src="images/Screenshot from 2022-07-04 18-36-19.png" height=600px width=600px>

In [3]:
# Fisrt step : import mysql connector
from mysql.connector import connect, Error
try:
#     Second step : create connection to the database using connect function of mysql.connector
    connection = connect(host='localhost', user='root', database='Electronics', password='Pucit12345#')
    mysql_query = """
    create table Laptop(
    Id int(11) NOT NULL,
    Name varchar(250) NOT NULL,
    Price float NOT NULL,
    Purchase_date Date NOT NULL,
    PRIMARY KEY(Id))
    """
    if connection.is_connected():
#         Third step: create cursor object using connection object
        cursor = connection.cursor()
#         Fourth step : execute all the mysql queries using execute/executemany functions of cursor object
        result = cursor.execute(mysql_query)
        print("Laptop table created successfully!")
except Error as e:
    print("Error while creating table is : ", e)
finally:
    if connection.is_connected():
#         Fifth step : close cursor and connection objects
        cursor.close()
        connection.close()
        print("MySQL connection is closed!")

Laptop table created successfully!
MySQL connection is closed!

## Python MySQL CRUD Operation
<img src="images/1_2eBdh0vLZjUyCDF6x1EqvQ.png" height= 600px width= 600px>

## Insert rows into MySQL table from Python: 
- We can nsert a single and multiple rows into the MySQL table. 
- Also, we learn how to use Python variables in the parameterized query to insert dynamic data into a table.
<img src="images/python_insert_into_mysql_table.webp">

- I have created a table ‘Laptop’ in the MySQL server to insert records in it. See its column structure in the image.
<img src="images/empty_mysql_laptop_table.png" >

## Insert a Single Row into MySQL table from Python
There are following steps to Insert Into MySQL table from Python

- Connect to MySQL from Python
 >- Connect to MySQL database from Python using MySQL Connector module

- Define a SQL Insert query
 >- Next, prepare a SQL INSERT query to insert a row into a table. in the insert query, we mention column names and their values to insert in a table. For example, `INSERT INTO mysql_table (column1, column2, …) VALUES (value1, value2, …);`

- Get Cursor Object from Connection
 >- Next, use a `connection.cursor()` method to create a cursor object. This method creates a new `MySQLCursor` object.

- Execute the insert query using `execute()` method
 >- Execute the insert query using the `cursor.execute()` method. This method executes the operation stored in the Insert query.

- Commit your changes
 >- After the successful execution of a query make changes persistent into a database using the `commit()` of a connection class.

- Get the number of rows affected
 >- After a successful insert operation, use a `cursor.rowcount` method to get the number of rows affected. The count depends on how many rows you are Inserting.

- Verify result using the SQL SELECT query
 >- Execute a `MySQL select query from Python` to see the new changes.

- Close the cursor object and database connection object
 >- use `cursor.clsoe()` and `connection.clsoe()` method to close open connections after your work completes.

### Let’ s see the program now

In [4]:
from mysql.connector import connect, Error

try:
    connection = connect(host='localhost',
                                         database='Electronics',
                                         user='root',
                                         password='Pucit12345#')

    mySql_insert_query = """
                        INSERT INTO Laptop (Id, Name, Price, Purchase_date) 
                           VALUES(1, 'Lenovo ThinkPad P71', 6459, '2019-08-14') 
                           """

    cursor = connection.cursor()
    cursor.execute(mySql_insert_query)
    connection.commit()
    print(cursor.rowcount, "Record inserted successfully into Laptop table")
    cursor.close()

except Error as error:
    print("Failed to insert record into Laptop table {}".format(error))

finally:
    if connection.is_connected():
        connection.close()
        print("MySQL connection is closed")

1 Record inserted successfully into Laptop table
MySQL connection is closed

![](images/mysql_table_after_inserting_first_row_from_python.png)

## Use Python Variables in a MySQL Insert Query
- Sometimes you need to insert a Python variable value into a table’s column. For example, in the user signup form user enter his/her details. You can take those values in Python variables and insert them into a table.
 >- We can insert Python variables into the table using the prepared statement and parameterized query.
 >- Using a parameterized query, we can pass Python variables as a query parameter in which placeholders (%s) used for parameters.

In [5]:
from mysql.connector import *
def insert_values_into_table(Id, Name, Price, Purchase_date):
    try:
        connection = connect(host='localhost', user='root', password='Pucit12345#', database='Electronics')
#     write mysql query
        mysql_insert_query = """
        INSERT INTO Laptop(Id, Name, Price , Purchase_date) values(%s, %s, %s, %s)
        """
        mysql_query = (Id, Name, Price, Purchase_date)
        
        if connection.is_connected():
            cursor = connection.cursor()
            cursor.execute(mysql_insert_query, mysql_query)
            connection.commit()
            print("Record inserted successfully into Laptop Table!")
    except Error as e:
        print("Error while inserting record into table!")
    
    finally:
        if connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL connection is closed successfully!")
def main():
    insert_values_into_table(2, 'Area 51M', 6999, '2019-04-14')
    insert_values_into_table(3, 'MacBook Pro', 2499, '2019-06-20')
if __name__ == '__main__':
    main()

Record inserted successfully into Laptop Table!
MySQL connection is closed successfully!
Record inserted successfully into Laptop Table!
MySQL connection is closed successfully!

![](images/mysql_laptop_table_after_inserting_python_varibles.png)

## Insert multiple rows into MySQL table using the cursor’s executemany()
- In the previous example, we have used execute() method of cursor object to insert a single record.
- What if you want to insert multiple rows into a table in a single insert query from the Python application. Use the cursor’s `executemany()` function to insert multiple records into a table.

#### Syntax of the executemany() method.
```
cursor.executemany(operation, seq_of_params)
```

- Note:
 >- This method executes Insert `operation` against all parameter sequences in the sequence `seq_of_params` argument.
 >- You need to include lists of tuples in the `seq_of_params` argument along with the insert query.
 >- Each tuple inside the list contains a single row that you want to insert. So you can add as many rows in the list and pass a list to a `cursor.executemany()` function along with the insert query.
 >- Each tuple is enclosed within parentheses and separated by commas.

### Example to INSERT multiple rows into a MySQL table

In [6]:
import mysql.connector

try:
    connection = mysql.connector.connect(host='localhost',
                                         database='Electronics',
                                         user='root',
                                         password='Pucit12345#')

    mySql_insert_query = """INSERT INTO Laptop (Id, Name, Price, Purchase_date) 
                           VALUES (%s, %s, %s, %s) """

    records_to_insert = [(4, 'HP Pavilion Power', 1999, '2019-01-11'),
                         (5, 'MSI WS75 9TL-496', 5799, '2019-02-27'),
                         (6, 'Microsoft Surface', 2330, '2019-07-23')]

    cursor = connection.cursor()
    cursor.executemany(mySql_insert_query, records_to_insert)
    connection.commit()
    print(cursor.rowcount, "Record inserted successfully into Laptop table")

except mysql.connector.Error as error:
    print("Failed to insert record into MySQL table {}".format(error))

finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

3 Record inserted successfully into Laptop table
MySQL connection is closed

![](images/mysql_laptop_table_after_inserting_multiple_rows.png)
- Using `cursor.executemany(sql_insert_query, records_to_insert)` we are inserting multiple rows (from a List) into the table.
- Using the `cursor.rowcount` we can find the number of records inserted.

### Insert timestamp and DateTime into a MySQL table using Python
We have a date column in a MySQL table. Let’s see how to prepare an insert query to add DateTime into a table from Python.

In [11]:
from datetime import datetime

import mysql.connector

try:
    connection = mysql.connector.connect(host='localhost',
                                         database='Electronics',
                                         user='root',
                                         password='Pucit12345#')

    mySql_insert_query = """INSERT INTO Laptop (Id, Name, Price, Purchase_date) 
                            VALUES (%s, %s, %s, %s) """

    cursor = connection.cursor()
    current_Date = datetime.now()
    # convert date in the format you want
    formatted_date = current_Date.strftime('%Y-%m-%d %H:%M:%S')
    insert_tuple = (7, 'Acer Predator Triton', 2435, current_Date)

    result = cursor.execute(mySql_insert_query, insert_tuple)
    connection.commit()
    print("Date Record inserted successfully")

except mysql.connector.Error as error:
    connection.rollback()
    print("Failed to insert into MySQL table {}".format(error))

finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

Date Record inserted successfully
MySQL connection is closed

## Python Select from MySQL Table
We will learn the following MySQL SELECT operations from Python using a ‘MySQL Connector Python’ module.
- Execute the SELECT query and process the result set returned by the query in Python.
- Use Python `variables in a where clause` of a SELECT query to pass dynamic values.
- Use `fetchall()`, `fetchmany()`, and `fetchone()` methods of a cursor class to fetch all or limited rows from a table.

For this task, we are using a `Laptop` table present in my MySQL server.
![](images/mysql_laptop_table_with_data.png)

### Steps to fetch rows from a MySQL database table
- Connect to MySQL from Python
 >- To connect to MySQL database from Python using MySQL Connector module

- Define a SQL SELECT Query
 >- Next, prepare a SQL SELECT query to fetch rows from a table. You can select all or limited rows based on your requirement. If the where condition is used, then it decides the number of rows to fetch.
For example, `SELECT col1, col2,…colnN FROM MySQL_table WHERE id = 10;`. This will return row number 10.

- Get Cursor Object from Connection
 >- Next, use a `connection.cursor()` method to create a cursor object. This method creates a new `MySQLCursor` object.

- Execute the SELECT query using execute() method
 >- Execute the select query using the `cursor.execute()` method.

- Extract all rows from a result
 >- After successfully executing a Select operation, Use the `fetchall()` method of a cursor object to get all rows from a query result. it returns a list of rows.

- Iterate each row
 >- Iterate a row list using a for loop and access each row individually (Access each row’s column data using a column name or index number.)

- Close the cursor object and database connection object
 >- use `cursor.clsoe()` and `connection.clsoe()` method to close open connections after your work completes.
![](images/python_select_from_mysql_table.png)

### Example

In [18]:
# First Step
from mysql.connector import connect, Error
try:
#     Second  step : create connection
    connection = connect(host='localhost', user='root', password='Pucit12345#', database='Electronics')
#     Third Step : Define query
    select_query = "SELECT * FROM Laptop"
    if connection.is_connected():
        cursor = connection.cursor()
#         execute select query
        cursor.execute(select_query)
#         get all the records of table
        records = cursor.fetchall()
        print("Total number of rows in table are : ", cursor.rowcount)
        print("Printing each row of Table!")
        for row in records:
            print(row)
except Error as e:
    print("Error while select data from table: ", e)
finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL Connection is closed!")

Total number of rows in table are :  7
Printing each row of Table!
(1, 'Lenovo ThinkPad P71', 6459.0, datetime.date(2019, 8, 14))
(2, 'Area 51M', 6999.0, datetime.date(2019, 4, 14))
(3, 'MacBook Pro', 2499.0, datetime.date(2019, 6, 20))
(4, 'HP Pavilion Power', 1999.0, datetime.date(2019, 1, 11))
(5, 'MSI WS75 9TL-496', 5799.0, datetime.date(2019, 2, 27))
(6, 'Microsoft Surface', 2330.0, datetime.date(2019, 7, 23))
(7, 'Acer Predator Triton', 2435.0, datetime.date(2022, 7, 16))
MySQL Connection is closed!

- Use the following methods to fetch data returned by a cursor.execute()
 >- cursor.fetchall() to fetch all rows
 >- cursor.fetchone() to fetch a single row
 >- cursor.fetchmany(SIZE) to fetch limited rows

### Use Python variables as parameters in MySQL Select Query
- We often need to pass variables to `SQL select query` in where clause to check some conditions. Let’s say the application wants to fetch laptop price by giving any laptop id at runtime. To handle such a requirement, we need to use a parameterized query.

- A `parameterized query` is a query in which placeholders (%s) are used for parameters and the parameter values supplied at execution time.
```
cursor.execute("SELECT Price FROM Laptop WHERE id = s%", variable)
```

In [30]:
# First step
from mysql.connector import connect, Error
def get_Laptop_details(ID):
    try:
#         Second Step
        connection = connect(host='localhost', user='root', password='Pucit12345#', database='Electronics')
#         Third step
        select_query = "SELECT * FROM Laptop where Id = %s"
        value = (ID,)
        if connection.is_connected():
#             Fourth step
            cursor = connection.cursor()
#             fifth step
            cursor.execute(select_query, value)
#             sixth step
            record = cursor.fetchall()
            print("Record of select laptop is : ")
#             print("Price : ",record[0][0])
            for row in record:
                print("ID : ", row[0])
                print("Name : ", row[1])
                print("Price : ", row[2])
                print("Purchased Date : ", row[3])
                
    except Error as e:
        print("Error while selecting the record is : ", e)
    finally:
        if connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL connection is closed successfully!")
def main():
    ID = int(input("Enter ID to get laptop details : "))
    get_Laptop_details(ID)
if __name__ =="__main__":
    main()

Enter ID to get laptop details : 7
Record of select laptop is :
ID :  7
Name :  Acer Predator Triton
Price :  2435.0
Purchased Date :  2022-07-16
MySQL connection is closed successfully!

### Select limited rows from MySQL table using fetchmany and fetchone
- In some situations, fetching all the rows from a table is a time-consuming task if a table contains thousands of rows.
- If we fetch all rows, we need more space and processing time. So it is essentials to use the `fetchmany()` method of cursor class to `fetch fewer rows`.

#### Syntax of the cursor’s fetchmany()
```
rows = cursor.fetchmany(size=row_size)
```
 >- Cursor’s `fetchmany()` methods return the number of rows specified by size argument, defaults value of size argument is one. For example, if the specified size is 5, then it returns five rows.
 >- If a table contains a row lesser than the specified size, then fewer rows are returned.
 
#### Syntax of fetchone()
```
row = cursor.fetchone()
```
 >- This method fetches the next set of rows of a query result and returns a list of tuples. If no more rows are available, it returns an empty list.
 >- This method returns a `single record` or None if no more rows are available.
 >- The `fetchone()` method is internally used by a `fetchall() and fetchmany()` to fetch rows.
 
- Note: If you are getting MySQL Unread result error set buffered=True in connection like connection.cursor(buffered=True).

### Python Fetch MySQL row using the column names
- You can also retrieve result using columns names instead of id. For example, you would like to do something like this.
```
records = cursor.fetchall()
for row in records:
    val1 = row["columnName1"], )
    val2 = row["columnName2"])
    val3 = row["columnName3"])
```

- If you try to fetch data using column name directly, you will receive a TypeError: `tuple indices must be integers or slices, not str.`
- To select records from my MySQL table using a column name, we only need to change the cursor creation. Replace the standard cursor creation with the following code, and you are ready to fetch records from my MySQL table using a column name.
```
cursor = connection.cursor(dictionary=True)
```

- Note :
 >- Why set dictionary=True? because MySQLCursorDict creates a cursor that returns rows as dictionaries so we can access using column name (here column name is the key of the dictionary)

In [33]:
# First step
from mysql.connector import connect, Error
try:
#     Second step
    connection = mysql.connector.connect(host='localhost',
                                         database='Electronics',
                                         user='root',
                                         password='Pucit12345#')
#     Third Step
    sql_select_Query = "select * from Laptop"
    # MySQLCursorDict creates a cursor that returns rows as dictionaries
    cursor = connection.cursor(dictionary=True, buffered= True)
#     Fourth step
    cursor.execute(sql_select_Query)
    records = cursor.fetchall()
    
    print("Fetching each row using column name")
    for row in records:
#         Id = row['Id']
        name = row["Name"]
        price = row["Price"]
#         purchase_date = row["Purchase_date"]
        print("Name : ", name," & ", "Price : ",price )

except Error as e:
    print("Error reading data from MySQL table", e)
finally:
    if connection.is_connected():
        connection.close()
        cursor.close()
        print("MySQL connection is closed")

Fetching each row using column name
Name :  Lenovo ThinkPad P71  &  Price :  6459.0
Name :  Area 51M  &  Price :  6999.0
Name :  MacBook Pro  &  Price :  2499.0
Name :  HP Pavilion Power  &  Price :  1999.0
Name :  MSI WS75 9TL-496  &  Price :  5799.0
Name :  Microsoft Surface  &  Price :  2330.0
Name :  Acer Predator Triton  &  Price :  2435.0
MySQL connection is closed

### Select MySQL column value into a Python Variable
- Let’s see how to execute the following SELECT SQL Query and store the table’s column value into a Python variable for further processing.
```
cursor.execute("SELECT Price FROM Laptop WHERE id = 21")
print (cursor.fetchone() )
```       
- You can get the output like          
```
{u'Price': u'7000'}
```
- Let’s see how to extract just the column value (7000) and save it in a variable to do some calculations so you can give a 10% discount on it.

In [34]:
import mysql.connector

try:
    connection = mysql.connector.connect(host='localhost',
                                         database='Electronics',
                                         user='root',
                                         password='Pucit12345#')

    sql_Query = "select price from Laptop where Id =%s"
    Id = (2,)
    cursor = connection.cursor()
    cursor.execute(sql_Query, Id)
    record = cursor.fetchone()
    print(record)
    # selecting column value into variable
    price = float(record[0])
    print("Laptop price is : ", price)

except mysql.connector.Error as error:
    print("Failed to get record from database: {}".format(error))

finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

(6999.0,)
Laptop price is :  6999.0
MySQL connection is closed

- Let’s understand this example:

 >- You can see in the above example after fetching a row using a cursor.fetchone() we converted column value to appropriate type using `value = float(record[0]).`
 >- We retrieved the 0th index value from the result set

## Python Update MySQL Table
We will learn the following MySQL UPDATE operations from Python using a ‘MySQL Connector’ module.

- Update single and multiple rows, single and multiple columns
- Use a Python variable in a parameterized query to update table rows.
- Also, Update a column with date-time and timestamp values
- The role of `commit` and `rollback` in the update operation.

I am using a Laptop table present in my MySQL server.
![](images/mysql_laptop_table_with_data.png)

### Example to Update a row of MySQL Table

How to Update MySQL Table in Python

- Connect to MySQL from Python
 >- Refer to Python MySQL database connection to connect to MySQL database from Python using MySQL Connector module

- Prepare a SQL Update Query
 >- Prepare an update statement query with data to update. FOr example, `UPDATE table_name SET column1 = value1, column2 = value2 WHERE condition;`

- Execute the UPDATE query, using cursor.execute()
 >- Execute the UPDATE query using `cursor.execute()` method. This method execute the operation stored in the UPDATE query.

- Commit your changes
 >- Make modification persistent into a database using the `commit()` of a connection class.

- Extract the number of rows affected
 >- After a successful update operation, use a `cursor.rowcount` method to get the number of rows affected. The count depends on how many rows you are updating.

- Verify result using the SQL SELECT query
 >- Execute a MySQL select query from Python to see the new changes.

- Close the cursor object and database connection object
 >- use `cursor.clsoe()` and `connection.clsoe()` method to close open connections after your work completes.
 
![](images/python_update_mysql_table.png)

#### Example:
In this program, we are updating a Laptop table by changing the price column of the first row.

In [35]:
from mysql.connector import connect, Error

try:
    connection = connect(host='localhost',
                                         database='Electronics',
                                         user='root',
                                         password='Pucit12345#')
    cursor = connection.cursor()

    print("Before updating a record ")
    sql_select_query = """select * from Laptop where Id = 1"""
    cursor.execute(sql_select_query)
    record = cursor.fetchone()
    print(record)

    # Update single record now
    sql_update_query = """Update Laptop set Price = 7000 where Id = 1"""
    cursor.execute(sql_update_query)
    connection.commit()
    print("Row affected are : ", cursor.rowcount)
    print("Record Updated successfully ")
    print("After updating record ")
    cursor.execute(sql_select_query)
    record = cursor.fetchone()
    print(record)

except Error as error:
    print("Failed to update table record: {}".format(error))
finally:
    if connection.is_connected():
        connection.close()
        print("MySQL connection is closed")

Before updating a record
(1, 'Lenovo ThinkPad P71', 6459.0, datetime.date(2019, 8, 14))
Row affected are :  1
Record Updated successfully
After updating record
(1, 'Lenovo ThinkPad P71', 7000.0, datetime.date(2019, 8, 14))
MySQL connection is closed

#### MySQL Laptop table after updating record
![](images/mysql_laptop_table_after_updating_record.png)

#### Note:
- Don’t forget to close the cursor and database connection objects and Catch any SQL exceptions that may occur during this process
- We also used `commit()` and `rollback()` method. commit() to make changes persistent in the database and rollback() revert the changes if any database error occurred.

### Use a Python variable in MySQL Update query
- Sometimes we need input from the user, such as when users update their password or any other details through User Interface. Or when you want to update details dynamically by passing Python variables into a query. Such as setting column value using the variable.

- It is always best practice to use parameterized query and prepared statement, i.e., placeholders ( %s ) inside any SQL statements that contain input from users. This helps us prevent SQL injection and other SQL issues.

In [37]:
from mysql.connector import connect, Error
def update_Laptop_table(PRICE, ID):
    try:
        connection = connect(host='localhost', user='root', password='Pucit12345#', database='Electronics')        
        cursor = connection.cursor()
        print("Record before updating!")
        select_query = "SELECT * FROM Laptop"
        cursor.execute(select_query)
        records = cursor.fetchall()
        for row in records:
            print(row)
            
#         update data of the table
        update_query = "UPDATE Laptop set Price = %s WHERE Id = %s"
        input_query = (PRICE, ID)
        cursor.execute(update_query, input_query)
        connection.commit()
        print("Records updated successfully!")
        
        print("\n\nRecords after updation!")
        cursor.execute(select_query)
        records = cursor.fetchall()
        for row in records:
            print(row)
    except Error as e:
        print("Error while updating records of the table!", e)
    finally:
        if connection:
            cursor.close()
            connection.close()
        
def main():
#     update_Laptop_table(7500, 6)
    update_Laptop_table(6600, 5)
    
main()

Record before updating!
(1, 'Lenovo ThinkPad P71', 7000.0, datetime.date(2019, 8, 14))
(2, 'Area 51M', 6999.0, datetime.date(2019, 4, 14))
(3, 'MacBook Pro', 2499.0, datetime.date(2019, 6, 20))
(4, 'HP Pavilion Power', 1999.0, datetime.date(2019, 1, 11))
(5, 'MSI WS75 9TL-496', 5799.0, datetime.date(2019, 2, 27))
(6, 'Microsoft Surface', 7500.0, datetime.date(2019, 7, 23))
(7, 'Acer Predator Triton', 2435.0, datetime.date(2022, 7, 16))
Records updated successfully!


Records after updation!
(1, 'Lenovo ThinkPad P71', 7000.0, datetime.date(2019, 8, 14))
(2, 'Area 51M', 6999.0, datetime.date(2019, 4, 14))
(3, 'MacBook Pro', 2499.0, datetime.date(2019, 6, 20))
(4, 'HP Pavilion Power', 1999.0, datetime.date(2019, 1, 11))
(5, 'MSI WS75 9TL-496', 6600.0, datetime.date(2019, 2, 27))
(6, 'Microsoft Surface', 7500.0, datetime.date(2019, 7, 23))
(7, 'Acer Predator Triton', 2435.0, datetime.date(2022, 7, 16))

#### Note:
- We used the `prepared statement` to accept user input using a placeholder, i.e., we put two placeholders in the update query, one for the `Price` column and the other is for the `id` column.
- Next, we added those two columns value in the tuple format in sequential order and passed SQL update query and input tuple to the `cursor.execute()` method. Remember tuple contains user data in the sequential order of placeholders.
- In the end, we are committing our changes to the database using the `connection.commit()`.

### Update Multiple Rows of MySQL Table using Python
- It is possible to update multiple rows in a single SQL Query. You can also call it a bulk update. Use the `cursor.executemany()` method of cursor object to update multiple rows of a table.

#### The syntax of the executemany() method
```
cursor.executemany(operation, seq_of_params)
```
- This method executes operation against all parameter sequences in the sequence seq_of_params argument.

In [38]:
from mysql.connector import connect, Error
def update_Laptop_table():
    try:
        connection = connect(host='localhost', user='root', password='Pucit12345#', database='Electronics')        
        cursor = connection.cursor()
        print("Record before updating!")
        select_query = "SELECT * FROM Laptop"
        cursor.execute(select_query)
        records = cursor.fetchall()
        for row in records:
            print(row)
            
#         update data of the table
        update_query = "UPDATE Laptop set Price = %s WHERE Id = %s"
        records_to_update = [(3000, 7), (2750, 4)]
        cursor.executemany(update_query, records_to_update)
        connection.commit()
        print("Records updated successfully!")
        print(cursor.rowcount, "Records of a laptop table updated successfully")
        
        print("\n\nRecords after updation!")
        cursor.execute(select_query)
        records = cursor.fetchall()
        for row in records:
            print(row)
    except Error as e:
        print("Error while updating records of the table!", e)
    finally:
        if connection:
            cursor.close()
            connection.close()
        
def main():
    update_Laptop_table()    
main()

Record before updating!
(1, 'Lenovo ThinkPad P71', 7000.0, datetime.date(2019, 8, 14))
(2, 'Area 51M', 6999.0, datetime.date(2019, 4, 14))
(3, 'MacBook Pro', 2499.0, datetime.date(2019, 6, 20))
(4, 'HP Pavilion Power', 1999.0, datetime.date(2019, 1, 11))
(5, 'MSI WS75 9TL-496', 6600.0, datetime.date(2019, 2, 27))
(6, 'Microsoft Surface', 7500.0, datetime.date(2019, 7, 23))
(7, 'Acer Predator Triton', 2435.0, datetime.date(2022, 7, 16))
Records updated successfully!
2 Records of a laptop table updated successfully


Records after updation!
(1, 'Lenovo ThinkPad P71', 7000.0, datetime.date(2019, 8, 14))
(2, 'Area 51M', 6999.0, datetime.date(2019, 4, 14))
(3, 'MacBook Pro', 2499.0, datetime.date(2019, 6, 20))
(4, 'HP Pavilion Power', 2750.0, datetime.date(2019, 1, 11))
(5, 'MSI WS75 9TL-496', 6600.0, datetime.date(2019, 2, 27))
(6, 'Microsoft Surface', 7500.0, datetime.date(2019, 7, 23))
(7, 'Acer Predator Triton', 3000.0, datetime.date(2022, 7, 16))

#### Note:
- We defined a SQL update query with two placeholders `(“Price” and “Id” column)`. and prepared a list of records to be updated. This List contains a tuple for each row. Here we created two tuples, so we are updated two rows.
- We used the `cursor.executemany()` method to update multiple rows of a database table.
- Using the `cursor.rowcount` we can find how many rows are updated successfully.

### Python update multiple Columns of MySQL table
- We can also update multiple columns of the MySQL table in a single query. Use parameterized query using a placeholder to update multiple columns.

In [39]:
from mysql.connector import connect, Error
def update_Laptop_table():
    try:
        connection = connect(host='localhost', user='root', password='Pucit12345#', database='Electronics')        
        cursor = connection.cursor()
        print("Record before updating!")
        select_query = "SELECT * FROM Laptop"
        cursor.execute(select_query)
        records = cursor.fetchall()
        for row in records:
            print(row)
            
#         update data of the table
        sql_update_query = """Update Laptop set Name = %s, Price = %s where Id = %s"""
        name = "HP Pavilion"
        price = 2200
        ID = 4
        Input = (name, price, ID)
        cursor.execute(sql_update_query, Input)
        connection.commit()
        print("Records updated successfully!")
        print(cursor.rowcount, "Records of a laptop table updated successfully")
        
        print("\n\nRecords after updation!")
        cursor.execute(select_query)
        records = cursor.fetchall()
        for row in records:
            print(row)
    except Error as e:
        print("Error while updating records of the table!", e)
    finally:
        if connection:
            cursor.close()
            connection.close()
        
def main():
    update_Laptop_table()    
main()

Record before updating!
(1, 'Lenovo ThinkPad P71', 7000.0, datetime.date(2019, 8, 14))
(2, 'Area 51M', 6999.0, datetime.date(2019, 4, 14))
(3, 'MacBook Pro', 2499.0, datetime.date(2019, 6, 20))
(4, 'HP Pavilion Power', 2750.0, datetime.date(2019, 1, 11))
(5, 'MSI WS75 9TL-496', 6600.0, datetime.date(2019, 2, 27))
(6, 'Microsoft Surface', 7500.0, datetime.date(2019, 7, 23))
(7, 'Acer Predator Triton', 3000.0, datetime.date(2022, 7, 16))
Records updated successfully!
1 Records of a laptop table updated successfully


Records after updation!
(1, 'Lenovo ThinkPad P71', 7000.0, datetime.date(2019, 8, 14))
(2, 'Area 51M', 6999.0, datetime.date(2019, 4, 14))
(3, 'MacBook Pro', 2499.0, datetime.date(2019, 6, 20))
(4, 'HP Pavilion', 2200.0, datetime.date(2019, 1, 11))
(5, 'MSI WS75 9TL-496', 6600.0, datetime.date(2019, 2, 27))
(6, 'Microsoft Surface', 7500.0, datetime.date(2019, 7, 23))
(7, 'Acer Predator Triton', 3000.0, datetime.date(2022, 7, 16))

### Update Datetime and timestamp column of a MySQL table from Python
- Suppose you have a date column in a MySQL table and you want to update a `datetime.datetime()` object into this column.

In [41]:
from mysql.connector import connect, Error
import datetime
def update_Laptop_table(ID):
    try:
        connection = connect(host='localhost', user='root', password='Pucit12345#', database='Electronics')        
        cursor = connection.cursor()
        print("Record before updating!")
        select_query = "SELECT * FROM Laptop"
        cursor.execute(select_query)
        records = cursor.fetchall()
        for row in records:
            print(row)
            
#         update data of the table
        sql_update_query = """Update Laptop set  Purchase_date = %s where Id = %s"""
        current_Date = datetime.datetime.now()
        formatted_date = current_Date.strftime('%Y-%m-%d %H:%M:%S')
        Input = (formatted_date,ID)
        cursor.execute(sql_update_query, Input)
        connection.commit()
        print("Records updated successfully!")
        print(cursor.rowcount, "Records of a laptop table updated successfully")
        
        print("\n\nRecords after updation!")
        cursor.execute(select_query)
        records = cursor.fetchall()
        for row in records:
            print(row)
    except Error as e:
        print("Error while updating records of the table!", e)
    finally:
        if connection:
            cursor.close()
            connection.close()
        
def main():
    update_Laptop_table(5)    
main()

Record before updating!
(1, 'Lenovo ThinkPad P71', 7000.0, datetime.date(2019, 8, 14))
(2, 'Area 51M', 6999.0, datetime.date(2019, 4, 14))
(3, 'MacBook Pro', 2499.0, datetime.date(2022, 7, 18))
(4, 'HP Pavilion', 2200.0, datetime.date(2019, 1, 11))
(5, 'MSI WS75 9TL-496', 6600.0, datetime.date(2019, 2, 27))
(6, 'Microsoft Surface', 7500.0, datetime.date(2019, 7, 23))
(7, 'Acer Predator Triton', 3000.0, datetime.date(2022, 7, 16))
Records updated successfully!
1 Records of a laptop table updated successfully


Records after updation!
(1, 'Lenovo ThinkPad P71', 7000.0, datetime.date(2019, 8, 14))
(2, 'Area 51M', 6999.0, datetime.date(2019, 4, 14))
(3, 'MacBook Pro', 2499.0, datetime.date(2022, 7, 18))
(4, 'HP Pavilion', 2200.0, datetime.date(2019, 1, 11))
(5, 'MSI WS75 9TL-496', 6600.0, datetime.date(2022, 7, 18))
(6, 'Microsoft Surface', 7500.0, datetime.date(2019, 7, 23))
(7, 'Acer Predator Triton', 3000.0, datetime.date(2022, 7, 16))

## Python Delete data from MySQL Table

- Now, we will discuss how to execute the SQL DELETE query from Python to delete data from a MySQL database table.After this, we will able to delete single, multiple, and all rows, as well as delete a single column and multiple columns from the MySQL table using Python
 >- Python Example to Delete a Single Row from a MySQL table
 >- Use Python Variable in a SQL query to delete data from the table
 >- Python Delete Multiple Rows from a MySQL Table
 >- Delete All rows from a table in Python
 >- Delete MySQL Table and Database from Python
 >- Delete MySQL Table column from Python

I am using a Laptop table present in my MySQL server.
![](images/mysql_laptop_table_with_data.png)

### Python Example to Delete a Single Row from a MySQL table

- Connect to MySQL from Python
 >- Refer to Python MySQL database connection to connect to MySQL database from Python using `MySQL Connector module`.

- Define a SQL Delete Query
 >- Next, prepare a SQL delete query to delete a row from a table. Delete query contains the row to be deleted based on a condition placed in where clause of a query.
`For example, DELETE FROM MySQL_table WHERE id=10;`

- Get Cursor Object from Connection
 >- Next, use a `connection.cursor()` method to create a cursor object. This method creates a new `MySQLCursor` object.

- Execute the delete query using execute() method
 >- Execute the delete query using the `cursor.execute()` method. This method executes the operation stored in the delete query. After a successful delete operation, the `execute()` method returns us the number of rows affected.

- Commit your changes
 >- After successfully executing a delete operation, make changes persistent into a database using the `commit()` of a connection class.

- Get the number of rows affected
 >- Use a `cursor.rowcount` method to get the number of rows affected. The count depends on how many rows you are deleting. You can also Execute a MySQL select query from Python to Verify the result.

- Close the cursor object and database connection object
 >- use `cursor.clsoe()` and `connection.clsoe()` method to close open connections after your work completes.
 
![](images/python_delete_from_mysql_table.png)

In [42]:
import mysql.connector

try:
    connection = mysql.connector.connect(host='localhost',
                                         database='Electronics',
                                         user='root',
                                        password='Pucit12345#')
    cursor = connection.cursor()
    print("Laptop table before deleting a row")
    sql_select_query = """select * from Laptop where Id = 7"""
    cursor.execute(sql_select_query)
    record = cursor.fetchone()
    print(record)

    # Delete a record
    sql_Delete_query = """Delete from Laptop where Id = 7"""
    cursor.execute(sql_Delete_query)
    connection.commit()
    print('number of rows deleted', cursor.rowcount)

    # Verify using select query (optional)
    cursor.execute(sql_select_query)
    records = cursor.fetchall()
    if len(records) == 0:
        print("Record Deleted successfully ")

except mysql.connector.Error as error:
    print("Failed to delete record from table: {}".format(error))
finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

Laptop table before deleting a row
(7, 'Acer Predator Triton', 3000.0, datetime.date(2022, 7, 16))
number of rows deleted 1
Record Deleted successfully
MySQL connection is closed

![](images/mysql_laptop_table_after_deleting_record.png)

### Use Python Variable in a SQL query to delete data from the table
- Sometimes we need input from the user, for example, when the user is deleting their data from the web portal or any other details through User Interface. in such a scenario, it is always best practice to use a parameterized query.

- A `prepared statement` or parameterized query uses `placeholders (%s)` inside any SQL statements that contain input from users. i.e., Using a parameterized query, we can pass Python variables as a query parameter in which `placeholders (%s)` used for parameters.

In [43]:
def delete_record(ID):
    try:
        connection = mysql.connector.connect(host='localhost',
                                         database='Electronics',
                                         user='root',
                                        password='Pucit12345#')
        cursor = connection.cursor()
        print("Laptop table before deleting a row")
        sql_select_query = """select * from Laptop where Id = %s"""
        Input = (ID,)
        cursor.execute(sql_select_query, Input)
        record = cursor.fetchall()
        for i in record:
            print(i)
    # Delete a record
        sql_Delete_query = """Delete from Laptop where Id = %s"""
        cursor.execute(sql_Delete_query, (ID,))
        connection.commit()
        print('number of rows deleted', cursor.rowcount)
        print("Record Deleted successfully ")


    # Verify using select query (optional)
        cursor.execute("SELECT * FROM Laptop")
        records = cursor.fetchall()
        for row in records:
            print(row)

    except mysql.connector.Error as error:
        print("Failed to delete record from table: {}".format(error))
    finally:
        if connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL connection is closed")
def main():
    delete_record(4)
main()

Laptop table before deleting a row
(4, 'HP Pavilion', 2200.0, datetime.date(2019, 1, 11))
number of rows deleted 1
Record Deleted successfully
(1, 'Lenovo ThinkPad P71', 7000.0, datetime.date(2019, 8, 14))
(2, 'Area 51M', 6999.0, datetime.date(2019, 4, 14))
(3, 'MacBook Pro', 2499.0, datetime.date(2022, 7, 18))
(5, 'MSI WS75 9TL-496', 6600.0, datetime.date(2022, 7, 18))
(6, 'Microsoft Surface', 7500.0, datetime.date(2019, 7, 23))
MySQL connection is closed

### Python Delete Multiple Rows from a MySQL Table
- Sometimes we need to delete an N-number of rows that match a specific condition. For example, you want to delete employee data from the employee table who left the organization. 
- You can delete multiple rows from the MySQL table using a single delete SQL Query in Python.

In [44]:
import mysql.connector
def delete_record():
    try:
        connection = mysql.connector.connect(host='localhost',
                                         database='Electronics',
                                         user='root',
                                        password='Pucit12345#')
        cursor = connection.cursor()
        print("Laptop table before deleting a row")
        sql_select_query = """select * from Laptop"""
        cursor.execute(sql_select_query)
        record = cursor.fetchall()
        for i in record:
            print(i)
    # Delete a record
        sql_Delete_query = """Delete from Laptop where Id = %s"""
        Input = [(6,),(5,)]
        cursor.executemany(sql_Delete_query, Input)
        connection.commit()
        print('number of rows deleted', cursor.rowcount)
        print("Record Deleted successfully ")


    # Verify using select query (optional)
        cursor.execute("SELECT * FROM Laptop")
        records = cursor.fetchall()
        for row in records:
            print(row)

    except mysql.connector.Error as error:
        print("Failed to delete record from table: {}".format(error))
    finally:
        if connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL connection is closed")
def main():
    delete_record()
main()

Laptop table before deleting a row
(1, 'Lenovo ThinkPad P71', 7000.0, datetime.date(2019, 8, 14))
(2, 'Area 51M', 6999.0, datetime.date(2019, 4, 14))
(3, 'MacBook Pro', 2499.0, datetime.date(2022, 7, 18))
(5, 'MSI WS75 9TL-496', 6600.0, datetime.date(2022, 7, 18))
(6, 'Microsoft Surface', 7500.0, datetime.date(2019, 7, 23))
number of rows deleted 2
Record Deleted successfully
(1, 'Lenovo ThinkPad P71', 7000.0, datetime.date(2019, 8, 14))
(2, 'Area 51M', 6999.0, datetime.date(2019, 4, 14))
(3, 'MacBook Pro', 2499.0, datetime.date(2022, 7, 18))
MySQL connection is closed

### Delete MySQL Table column from Python
- Use alter table drop column command to delete a column from a MySQL table.

In [45]:
import mysql.connector
def delete_record():
    try:
        connection = mysql.connector.connect(host='localhost',
                                         database='Electronics',
                                         user='root',
                                        password='Pucit12345#')
        cursor = connection.cursor()
        print("Laptop table before deleting a column")
        sql_select_query = """select * from Laptop"""
        cursor.execute(sql_select_query)
        record = cursor.fetchall()
        for i in record:
            print(i)
    # Delete a record
        sql_Delete_query = """ALTER TABLE Laptop DROP COLUMN Purchase_date"""
        cursor.execute(sql_Delete_query)
        connection.commit()
        print("Record Deleted successfully ")


    # Verify using select query (optional)
        cursor.execute("SELECT * FROM Laptop")
        records = cursor.fetchall()
        for row in records:
            print(row)

    except mysql.connector.Error as error:
        print("Failed to delete record from table: {}".format(error))
    finally:
        if connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL connection is closed")
def main():
    delete_record()
main()

Laptop table before deleting a column
(1, 'Lenovo ThinkPad P71', 7000.0, datetime.date(2019, 8, 14))
(2, 'Area 51M', 6999.0, datetime.date(2019, 4, 14))
(3, 'MacBook Pro', 2499.0, datetime.date(2022, 7, 18))
Record Deleted successfully
(1, 'Lenovo ThinkPad P71', 7000.0)
(2, 'Area 51M', 6999.0)
(3, 'MacBook Pro', 2499.0)
MySQL connection is closed

### HomeWork:
- Delete MySQL Table and Database from Python.
- Delete All rows from a table in Python
 >- Note : using truncate, drop and delete commands of table.

In [46]:
import mysql.connector
def delete_record():
    try:
        connection = mysql.connector.connect(host='localhost',
                                         database='Electronics',
                                         user='root',
                                        password='Pucit12345#')
        cursor = connection.cursor()
        print("Laptop table before deleting a column")
        sql_select_query = """select * from Laptop"""
        cursor.execute(sql_select_query)
        record = cursor.fetchall()
        for i in record:
            print(i)
    # Delete a record
        sql_Delete_query = """Delete from Laptop"""
        cursor.execute(sql_Delete_query)
        connection.commit()
        print("Record Deleted successfully ")


    # Verify using select query (optional)
        cursor.execute("SELECT * FROM Laptop")
        records = cursor.fetchall()
        for row in records:
            print(row)

    except mysql.connector.Error as error:
        print("Failed to delete record from table: {}".format(error))
    finally:
        if connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL connection is closed")
def main():
    delete_record()
main()

Laptop table before deleting a column
(1, 'Lenovo ThinkPad P71', 7000.0)
(2, 'Area 51M', 6999.0)
(3, 'MacBook Pro', 2499.0)
Record Deleted successfully
MySQL connection is closed

In [47]:
import mysql.connector
def delete_record():
    try:
        connection = mysql.connector.connect(host='localhost',
                                         database='Electronics',
                                         user='root',
                                        password='Pucit12345#')
        cursor = connection.cursor()
        print("Laptop table before deleting a column")
        sql_select_query = """select * from Laptop"""
        cursor.execute(sql_select_query)
        record = cursor.fetchall()
        for i in record:
            print(i)
    # Delete a record
        sql_Delete_query = """DROP TABLE Laptop"""
        cursor.execute(sql_Delete_query)
        connection.commit()
        print("Record Deleted successfully ")


    # Verify using select query (optional)
        cursor.execute("SELECT * FROM Laptop")
        records = cursor.fetchall()
        for row in records:
            print(row)

    except mysql.connector.Error as error:
        print("Failed to delete record from table: {}".format(error))
    finally:
        if connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL connection is closed")
def main():
    delete_record()
main()

Laptop table before deleting a column
Record Deleted successfully
Failed to delete record from table: 1146 (42S02): Table 'Electronics.Laptop' doesn't exist
MySQL connection is closed

# Python Database Programming Exercise
- This Database exercise Project will help us to learn database programming skills quickly. In this exercise, we will perform database CRUD(create, read, update, delete) operations using Python.
- This Python database programming exercise includes
 >- Now it has 5 exercise questions, which simulate the real-time queries, and each question contains a specific skill you need to learn. When you complete the exercise, you get more familiar with database operations in Python.

### Hospital Information System
- In this exercise, We are implementing the `Hospital Information System`. In this exercise, I have created two tables, Hospital and Doctor. You need to create those two tables on your database server before starting the exercise.
- Please prepare data for your project using following query.

- create database

```
CREATE database python_db;            
```
- create hospital table

```  
CREATE TABLE Hospital (                
    Hospital_Id INT UNSIGNED NOT NULL,                
    Hospital_Name TEXT NOT NULL,                   
    Bed_Count INT,               
    PRIMARY KEY (Hospital_Id)            
);                    
 
INSERT INTO Hospital (Hospital_Id, Hospital_Name, Bed_Count)                
VALUES               
('1', 'Mayo Clinic', 200),               
('2', 'Cleveland Clinic', 400),                    
('3', 'Johns Hopkins', 1000),                
('4', 'UCLA Medical Center', 1500);                
```
             
- CREATE Doctoe Table             
          
```
CREATE TABLE Doctor(                  
    Doctor_Id INT UNSIGNED NOT NULL,                   
    Doctor_Name TEXT NOT NULL,                  
    Hospital_Id INT NOT NULL,                  
    Joining_Date DATE NOT NULL,                  
    Speciality TEXT NULL,                   
    Salary INT NULL,                  
    Experience INT NULL,                  
    PRIMARY KEY (Doctor_Id)           
);                 
          
INSERT INTO Doctor (Doctor_Id, Doctor_Name, Hospital_Id, Joining_Date, Speciality, Salary, Experience)     
VALUES       
('101', 'David', '1', '2005-2-10', 'Pediatric', '40000', NULL),             
('102', 'Michael', '1', '2018-07-23', 'Oncologist', '20000', NULL),                  
('103', 'Susan', '2', '2016-05-19', 'Garnacologist', '25000', NULL),                 
('104', 'Robert', '2', '2017-12-28', 'Pediatric ', '28000', NULL),                   
('105', 'Linda', '3', '2004-06-04', 'Garnacologist', '42000', NULL),                
('106', 'William', '3', '2012-09-11', 'Dermatologist', '30000', NULL),             
('107', 'Richard', '4', '2014-08-21', 'Garnacologist', '32000', NULL),             
('108', 'Karen', '4', '2011-10-17', 'Radiologist', '30000', NULL);             
```

### Doctor Table
![](images/doctor_table.png)

### Hospital Table
![](images/hospital_table.png)

### Exercise 1: Connect to your database server and print its version
##### Note:
 >- Write SQL query to get the database server version.
 >- Connect to the database and use `cursor.execute()` to execute this query.
 >- Next, use `cursor.fetchone()` to fetch the record.
 
#### Solution:

In [48]:
from mysql.connector import connect, Error

# this function create connection with database
def get_Connection():
    connection = connect(host='localhost', user='root', database='python_db', password='Pucit12345#')
    return connection

# this function gets connection and will close it
def close_connection(connection):
    if connection:
        connection.close()
        
# this function returns our database version        
def read_database_version():
    try:
        connection = get_Connection()
        cursor = connection.cursor()
        cursor.execute("select version();")
        db_version = cursor.fetchone()
        print("We are connected to MySQL version : ", db_version)
        close_connection(connection)
    except Error as e:
        print("Error while getting database version : ", e)
print("Question no 01: Database version ")
read_database_version()

Question no 01: Database version
We are connected to MySQL version :  ('8.0.29',)

### Question 2: Fetch Hospital and Doctor Information using hospital Id and doctor Id 
- Implement the functionality to read the details of a given doctor from the doctor table and Hospital from the hospital table. i.e., read records from Hospital and Doctor Table as per given hospital Id and Doctor Id.

#### Hint
- Connect to `python_db` and use `cursor.execute()` to execute the parameterized query.
- Next, use `cursor.fetchall()` to fetch the record.
- Next, iterate record/resultSet to print all column values
#### Expected Output:
![](images/output.png)

In [49]:
from mysql.connector import connect, Error
def get_connection():
    connection = connect(host='localhost', user='root', database='python_db', password='Pucit12345#')
    return connection
def close_connection(connection):
    if connection:
        connection.close()
# function is used to get hospital records
def get_Hospital_Record(Hospital_id):
    try:
        connection = get_connection()
        cursor = connection.cursor()
        mysql_query = "SELECT * FROM  Hospital WHERE Hospital_Id = %s "
        cursor.execute(mysql_query, (Hospital_id,))
        records = cursor.fetchall()
        print("Printing hospital records ! ")
        for row in records:
            print("Hospital Id : ", row[0])
            print("Hospital Name : ", row[1])
            print("Bed Count : ", row[2])
        close_connection(connection)
    except Error as e:
        print("Error while getting hospital records !", e)
        
# function is used to get doctor records
def get_Doctor_Record(Doctor_Id):
    try:
        connection = connect(host='localhost', user='root', database='python_db', password='Pucit12345#')
        cursor = connection.cursor()
        mysql_query = "SELECT * FROM Doctor WHERE Doctor_Id = %s"
        cursor.execute(mysql_query, (Doctor_Id,))
        records = cursor.fetchall()
        print("Printing Doctor records ! ")
        for row in records:
            print("Doctor Id:", row[0])
            print("Doctor Name:", row[1])
            print("Hospital Id:", row[2])
            print("Joining Date:", row[3])
            print("Specialty:", row[4])
            print("Salary:", row[5])
            print("Experience:", row[6])
        close_connection(connection)
    except Error as e:
        print("Error while getting doctor records ! ", e)
def main():
    while True:
        try:
            choice = int(input("""
            1.Enter to get hospital record\n
            2.Enter to get dcotor record\n
            3.Enter to exit program\n
            """))
            if choice==1:
                ID = int(input("Enter Hospital's ID to get Hospital's details : "))
                get_Hospital_Record(ID)
            if choice==2:
                ID = int(input("Enter Doctor's ID to get Doctor's details : "))
                get_Doctor_Record(ID)
            if choice==3:
                break
        except:
            print("Invalid Input!")
            
if __name__ == "__main__":
    main()

            1.Enter to get hospital record

            2.Enter to get dcotor record

            3.Enter to exit program

            1
Enter Hospital's ID to get Hospital's details : 2
Printing hospital records !
Hospital Id :  2
Hospital Name :  Cleveland Clinic
Bed Count :  400

            1.Enter to get hospital record

            2.Enter to get dcotor record

            3.Enter to exit program

            2
Enter Doctor's ID to get Doctor's details : 102
Printing Doctor records !
Doctor Id: 102
Doctor Name: Michael
Hospital Id: 1
Joining Date: 2018-07-23
Specialty: Oncologist
Salary: 20000
Experience: 3

            1.Enter to get hospital record

            2.Enter to get dcotor record

            3.Enter to exit program

            103

            1.Enter to get hospital record

            2.Enter to get dcotor record

            3.Enter to exit program

            2
Enter Doctor's ID to get Doctor's details : 103
Printing Doctor records !
Doctor Id: 103
Doctor Name: Susan
Hospital Id: 2
Joining Date: 2016-05-19
Specialty: Garnacologist
Salary: 25000
Experience: None

            1.Enter to get hospital record

            2.Enter to get dcotor record

            3.Enter to exit program

            3

## Exercise 3: Get the list Of doctors as per the given specialty and salary
#### Note:
- Fetch all doctors whose salary higher than the input amount and specialty is the same as the input specialty.

#### Given:    
```
get_specialist_doctors_list("Garnacologist", 30000)

```
#### Hint
- Define the parameterized select query to fetch data from the table as per the given specialty and salary.
- Next, use the cursor.execute() to execute the query.
- Next, get all records using cursor.fetchall()
- Iterate those records and print each row.

#### Expected Output:
![](images/output1.png)

In [50]:
from mysql.connector import connect, Error
def get_connection():
    connection = connect(host='localhost', user='root', database='python_db', password='Pucit12345#')
    return connection
def close_connection(connection):
    if connection:
        connection.close()
def get_specialist_doctors_list(speciality, salary):
    connection = get_connection()
    cursor = connection.cursor()
    mysql_query = """
    SELECT * FROM Doctor WHERE (Speciality = %s) and (Salary > %s)
    """
    cursor.execute(mysql_query, (speciality, salary))
    records = cursor.fetchall()
    print("Printing Doctor records ! ")
    for row in records:
        print("Doctor Id:", row[0])
        print("Doctor Name:", row[1])
        print("Hospital Id:", row[2])
        print("Joining Date:", row[3])
        print("Specialty:", row[4])
        print("Salary:", row[5])
        print("Experience:", row[6])
        print("\n\n")
    close_connection(connection)
def main():
    speciality = input("Enter doctor's speciality to get records : ")
    salary = int(input("Enter doctor's salary to get records : "))
    get_specialist_doctors_list(speciality, salary)
main()

Enter doctor's speciality to get records : Garnacologist
Enter doctor's salary to get records : 30000
Printing Doctor records !
Doctor Id: 105
Doctor Name: Linda
Hospital Id: 3
Joining Date: 2004-06-04
Specialty: Garnacologist
Salary: 42000
Experience: None



Doctor Id: 107
Doctor Name: Richard
Hospital Id: 4
Joining Date: 2014-08-21
Specialty: Garnacologist
Salary: 32000
Experience: None

### Exercise 4: Get a list of doctors from a given hospital
#### Note: 
- Implement the functionality to fetch all the doctors as per the given Hospital Id. You must display the hospital name of a doctor.

#### Given:
```
def get_doctors(hospital_id):
    #Fetch All doctors within given Hospital

get_doctors(2)
```

#### Hint:

- Define the parameterized select query to get the hospital name as per the given hospital id.
- Next, use the cursor.execute() to execute this query and store the hospital name in a variable.
- Define the parameterized select query to fetch all doctors from the doctor table as per the given hospital id.
- Next, use the `cursor.execute()` to execute the query.
- Next, get all records using `cursor.fetchall()`.
- Iterate those records and print each column. Also, display the hospital name we fetched in the first query in each doctor’s entry

In [51]:
from mysql.connector import connect, Error
def get_connection():
    connection = connect(host='localhost', user='root', password='Pucit12345#', database='python_db')
    return connection

def close_connection(connection):
    if connection:
        connection.close()
    
def get_Hospital_Name(Hospital_Id):
    try:
        connection = get_connection()
        cursor = connection.cursor()
        mysql_query = "SELECT * FROM Hospital WHERE Hospital_Id = %s"
        cursor.execute(mysql_query, (Hospital_Id,))
        records = cursor.fetchone()
        name = records[1]
        return name
#         print(records)
#         for i in records:
#             print(i)
        close_connection(connection)
    except Error as e:
        print("Error while getting Hospital name is ", e)

def get_Doctors(Hospital_Id):
    try:
        hospital_Name = get_Hospital_Name(Hospital_Id)
        connection = get_connection()
        cursor = connection.cursor()
        mysql_query = "SELECT * FROM Doctor WHERE Hospital_Id = %s"
        cursor.execute(mysql_query, (Hospital_Id,))
        records = cursor.fetchall()
        print("Printing Doctors of ", hospital_Name, 'Hospital')
        for row in records:
            print("Doctor Id : ", row[0])
            print("Doctor Name : ", row[1])
            print("Hospital Id : ", row[2])
            print("Hospital Name : ", hospital_Name)
            print("Joining Date : ", row[3])
            print("Speciality : ", row[4])
            print("Salary: ", row[5])
            print("Experience : ", row[6])
            print("\n\n")
    except Error as e:
        print("Error while getting doctors  details : ", e)
            
def main():
    ID = int(input("Enter Hospital's Id to get all the doctors : "))
    get_Doctors(ID)
main()

Enter Hospital's Id to get all the doctors : 3
Printing Doctors of  Johns Hopkins Hospital
Doctor Id :  105
Doctor Name :  Linda
Hospital Id :  3
Hospital Name :  Johns Hopkins
Joining Date :  2004-06-04
Speciality :  Garnacologist
Salary:  42000
Experience :  None



Doctor Id :  106
Doctor Name :  William
Hospital Id :  3
Hospital Name :  Johns Hopkins
Joining Date :  2012-09-11
Speciality :  Dermatologist
Salary:  30000
Experience :  None

### Question 5: Update doctor experience in years
- The value of the experience column for each doctor is null. Implement the functionality to update the experience of a given doctor in years.

#### Given:
```
def update_doctor_experience(doctor_id):
    # Update Doctor Experience in Years

update_doctor_experience(101)
```
#### Hint
- The doctor table has the joining date for each doctor.
- Get a given doctor’s `joining date`.
- To get a difference in a year, we can calculate the difference between `today’s date` and `joining-date` in years.
- After calculating the difference in a year, you can execute the update table query to update the experience of a given doctor.

![](images/output3.png)

In [61]:
tup = ('2019-10-20',)
a = list(tup)[0].split('-')
b = [int(i) for i in a]
b

[2019, 10, 20]

In [68]:
from mysql.connector import connect, Error
from datetime import date
def get_connection():
    connection = connect(host='localhost', user='root', database='python_db', password='Pucit12345#')
    return connection

def close_connection(connection):
    if connection:
        connection.close()
        
def get_doctor_Experience(joiningDate):
    today = date.today()
    str_List = str(list(joiningDate)[0]).split("-")
    list1 = [int(i) for i in str_List]
    joining_Date = date(list1[0], list1[1], list1[2])
    experience = today.year - joining_Date.year - ((today.month, today.day) < (joining_Date.month, joining_Date.day))
    return experience


def update_doctor_experienc(Doctor_Id):
    try:
                # Get joining date
        connection = get_connection()
        cursor = connection.cursor()
        select_query = """select Joining_Date from Doctor where Doctor_Id = %s"""
        cursor.execute(select_query, (Doctor_Id,))
        joining_date = cursor.fetchone()
        
#         get doctor experience
        experience = get_doctor_Experience(joining_date)
        # Update doctor's Experience now
        connection = get_connection()
        cursor = connection.cursor()
        sql_select_query = """update Doctor set Experience = %s where Doctor_Id =%s"""
        cursor.execute(sql_select_query, (experience, Doctor_Id))
        connection.commit()
        print("Doctor Id:", Doctor_Id, " Experience updated to ", experience, " years")
        close_connection(connection)

    except Error as e:
        print("Error while getting doctor's data", e)

print("Question 5: Calculate and Update experience of all doctors  \n")
update_doctor_experienc(108)

Question 5: Calculate and Update experience of all doctors

Doctor Id: 108  Experience updated to  10  years